<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:50</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:10</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Starting with data</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Manipulating, analyzing and exporting data with <strong><code>tidyverse</code></strong></a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:50</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:10</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Manipulating, analyzing and exporting data with <strong><code>tidyverse</code></strong> (continued)</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Data visualization with <strong><code>ggplot2</code></strong></a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:50</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:10</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Data visualization with <strong><code>ggplot2</code></strong> (continued)</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td>Foundations of R programming: <a href="http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/">Control Flow</a>, <a href="http://swcarpentry.github.io/r-novice-gapminder/09-vectorization/">Vectorization</a>, <a href="http://swcarpentry.github.io/r-novice-gapminder/10-functions/">Functions Explained</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:50</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:10</td>        <!-- time    -->
        <td>Foundations of reproducible scientific analysis: <a href="http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/">Producing Reports With <strong><code>knitr</code></strong><a>, <a href="http://swcarpentry.github.io/r-novice-gapminder/16-wrap-up/">Writing Good Software</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
